:root {
  --footer--title--background: linear-gradient(180deg, var(--gray--3), var(--gray--3));
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 300px;
}

.footer-main-box {
  border-radius: 8px;
  overflow: hidden;
}

.footer-title {
  background-image: var(--footer--title--background);
}

.footer-title-text {
  font-weight: 400;
  font-size: 1.2rem;
  font-style: italic;
  text-align: center;
  color: var(--white);
  line-height: 50px;
}

.footer-content {
  display: flex;
  padding: 8px;
  background-image: linear-gradient(180deg, var(--white), var(--gray--1));
}

.cl {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0 12px;
  position: relative;
}

.cl:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 1px; /* Width of the vertical line */
  background-color: var(--gray--2);
}

.cl .cl-title {
  margin-top: 8px;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--gray--5);
}

.cl-side {
  width: 25%;
}

.cl-center {
  width: 50%;
}

.footer-content-list {
  list-style: none;
  display: flex;
  margin: 8px 0;
}

.footer-content-item {
  width: 25%;
  padding: 0 20px;
  border-right: 1px solid var(--gray--4);
}

.btn-facebook {
  display: flex;
  align-items: center;
  width: 80%;
  padding: 0 4px;
  border: 4px solid var(--border);
  border-radius: 8px;
  margin: 8px 0;
  background-color: var(--gray--3);
  cursor: pointer;
}

.btn-facebook .btn-text {
  width: 85%;
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--white);
  font-weight: 600;
  text-align: center;
  border-right: 1px solid var(--border);
}

.btn-facebook .btn-icon {
  padding: 16px 0;
  border-left: 1px var(--white) solid;
  width: 15%;
}

.link-container {
  display: flex;
}

.cl-3 {
  width: 33%;
}

.text {
  margin: 2px 0;
  color: #999891;
  opacity: 2;
  font-size: 1.2rem;
}

/* Copyright */
.copyright {
  text-align: center;
}

.copyright .title {
  font-size: 1.2rem;
  font-weight: bold;
}

.copyright .subtitle {
  font-size: 1rem;
  color: var(--gray--4);
  margin-top: 4px;
}

.copyright .LINK {
  font-weight: bold;
  text-transform: uppercase;
}
