:root {
  --title: #8a2be2;
  --line: #0000ff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

hr {
  border: 1px solid var(--line);
}

button {
  padding: 4px;
  border: 1px solid;
  border-radius: 16px;
  cursor: pointer;
}

table {
  width: 300px;
  margin: 0 auto;
}
td {
  padding: 4px;
}

p {
  text-align: center;
}

.title {
  color: var(--title);
  text-align: center;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 400px;
  height: 200px;
}

.cl1 {
  width: 150px;
}

.cl2 {
  width: 150px;
}
